
.gradle/6.1.1/fileChanges/last-build.bin
.gradle/6.1.1/fileContent/fileContent.lock
.gradle/6.1.1/fileHashes/fileHashes.bin
.gradle/6.1.1/fileHashes/resourceHashesCache.bin
.gradle/6.1.1/javaCompile/classAnalysis.bin
.gradle/6.1.1/javaCompile/jarAnalysis.bin
.gradle/6.1.1/javaCompile/javaCompile.lock
.gradle/6.1.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/sha1-checksums.bin
.idea/.name
.idea/caches/build_file_checksums.ser
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/checksums/checksums.lock
.gradle/checksums/sha1-checksums.bin
.idea/.name
.idea/caches/build_file_checksums.ser
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0_jar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0_jar.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_collection_collection_1_1_0_jar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_1_1_3_aar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_1_1_3_jar.xml
.idea/libraries/Gradle__androidx_core_core_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_ktx_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_databinding_viewbinding_4_0_0_beta04_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_1_0_jar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_1_1_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_1_1_aar.xml
.idea/libraries/Gradle__androidx_test_monitor_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_test_runner_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
.idea/libraries/Gradle__com_squareup_javawriter_2_1_1_jar.xml
.idea/libraries/Gradle__javax_inject_javax_inject_1_jar.xml
.idea/libraries/Gradle__junit_junit_4_12_jar.xml
.idea/libraries/Gradle__net_sf_kxml_kxml2_2_3_0_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3_jar.xml
.idea/libraries/Gradle__org_jetbrains_annotations_13_0_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_runtime_1_3_41_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_3_41_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_41_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_41_jar.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/Algo_Design.iml
.idea/modules/AlgoDesigns.iml
.idea/modules/app/app.iml
.idea/runConfigurations.xml
.idea/sonarIssues.xml
build/kotlin/sessions/kotlin-compiler-5760460135599398582.salive
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/sonarIssues.xml
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/sonarIssues.xml
.idea/sonarlint/issuestore/d/5/d5f875faf58737d378c9c3aafc02eabe00127d19
.idea/sonarlint/issuestore/f/e/feda2e4cc8bff08fdab095cd3bb7d8b2a2f89925
.idea/sonarlint/issuestore/index.pb
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/modules/app/app.iml
.idea/sonarIssues.xml
.idea/sonarlint/issuestore/0/5/053fab6415fcf494be7096e1402aac02e4e141a1
.idea/sonarlint/issuestore/2/4/2406745fcdea875c95c7570ca6a7ea09b22869e2
.idea/sonarlint/issuestore/d/9/d98f41c15c4adfdf0a9355c32c9c0585ca891fd2
.idea/sonarlint/issuestore/index.pb
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/caches/build_file_checksums.ser
.idea/sonarIssues.xml
.idea/sonarlint/issuestore/0/3/03bd5b75cd111c58e4ce5bb5e8da22e492019179
.idea/sonarlint/issuestore/1/0/1054c0ab859c5c298407468555db4d6e28bbc615
.idea/sonarlint/issuestore/1/e/1eae876376bcb6ace8787345c176b95558789ce1
.idea/sonarlint/issuestore/3/0/3056991e7e27ed469d0906b451b257ca4125414e
.idea/sonarlint/issuestore/3/b/3bf899b1743649e5fb8492eafa5342c8fafe333e
.idea/sonarlint/issuestore/3/e/3e26e69c39be34eeb1b199eb96dfab800e022014
.idea/sonarlint/issuestore/5/3/53bb82859dc1197aa8c658ee599579b2f27db3a4
.idea/sonarlint/issuestore/b/b/bb16fe44e34df9d63f567b72d313cb417fa3386c
.idea/sonarlint/issuestore/d/c/dc2fdd7ac98f33cc20bb35f8196b0d67b0f936e0
.idea/sonarlint/issuestore/e/2/e2568cb5c481dc1b4ba4e1437bfe232c7c1f41c0
.idea/sonarlint/issuestore/e/f/ef548a72cbd42217068f923bab030ab419c38b83
.idea/sonarlint/issuestore/f/4/f4a01d6a4fcb971362ec00a83903fd3902f52164
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/1/e/1eae876376bcb6ace8787345c176b95558789ce1
.idea/sonarIssues.xml
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.idea/caches/build_file_checksums.ser
.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
.idea/misc.xml
.idea/modules/app/app.iml
.idea/sonarIssues.xml
.idea/sonarlint/issuestore/3/2/32df2aa95f2b7542d13eec1ef83750a0b04af0ed
.idea/sonarlint/issuestore/3/b/3b1c26ec0b64617218edf1338550e3c2feed4cd6
.idea/sonarlint/issuestore/3/e/3e1ccfed01d422e7710852289dfccae3d1616210
.idea/sonarlint/issuestore/5/a/5a05e7e12f54a2defd90f688c9a9f068a7b39dbb
.idea/sonarlint/issuestore/6/7/677365ad9c8cb705c5a8b3d369d23681caf0513f
.idea/sonarlint/issuestore/7/0/7017511434742cce868c0cf79571b052486e0875
.idea/sonarlint/issuestore/8/c/8c55c3ccc257e5907959013f99656e4c8ec3903e
.idea/sonarlint/issuestore/8/f/8f604ee914cf54834240eea965c93a1ebe227975
.idea/sonarlint/issuestore/9/7/978c2c5326fa65e789486ef7360990a65f792207
.idea/sonarlint/issuestore/a/c/ac303b54489def163cd7079a61e30b9e1baa5596
.idea/sonarlint/issuestore/b/f/bfdd20d604515dac0966a58cb9881e56c5c5fdbd
.idea/sonarlint/issuestore/e/1/e1228b09b879ddafeaaeba3d483789d8ab45b357
.idea/sonarlint/issuestore/e/1/e18080102855cf57d7e235d27e0a1a78a7d06267
.idea/sonarlint/issuestore/f/0/f07866736216be0ee2aba49e392191aeae700a35
.idea/sonarlint/issuestore/f/5/f577d9d5b45ed38ce5d365e3419a738194af0418
.idea/sonarlint/issuestore/index.pb
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/checksums/checksums.lock
.gradle/checksums/sha1-checksums.bin
.idea/caches/build_file_checksums.ser
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_extensions_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_process_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_service_2_0_0_aar.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_8_6_jar.xml
.idea/libraries/Gradle__io_reactivex_rxjava2_rxandroid_2_1_0_aar.xml
.idea/libraries/Gradle__io_reactivex_rxjava2_rxjava_2_2_4_jar.xml
.idea/libraries/Gradle__io_reactivex_rxjava2_rxkotlin_2_3_0_jar.xml
*.lock
.idea/sonarIssues.xml
.idea/assetWizardSettings.xml
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/sonarIssues.xml
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/modules/app/app.iml
.idea/sonarIssues.xml
.idea/sonarlint/issuestore/0/0/0098050922d54a5ccd16e2e03787934854762ab5
.idea/sonarlint/issuestore/1/f/1fdcdb497c97d4d66ce2bac487fad7bc0f06ffd6
.idea/sonarlint/issuestore/3/9/390c4eb328775c27e9123a9e1dc1838833748e5e
.idea/sonarlint/issuestore/3/b/3b1c26ec0b64617218edf1338550e3c2feed4cd6
.idea/sonarlint/issuestore/3/e/3e1ccfed01d422e7710852289dfccae3d1616210
.idea/sonarlint/issuestore/5/0/50f56ad7be78462ea8a0e5579107fed50d2ba8a0
.idea/sonarlint/issuestore/5/c/5c4a6eacacc83271133a5ce33fbf98a941d9ba69
.idea/sonarlint/issuestore/7/b/7b56adba44ce11fee5bf66b4af845eb7e09da915
.idea/sonarlint/issuestore/8/0/8025aecd838dee237fe16ea2203cee1b21d2d862
.idea/sonarlint/issuestore/8/d/8dc4a846162077ebba97e58a20a0ae1b80a9798a
.idea/sonarlint/issuestore/a/9/a9da0befb8a9e653aa0fe135b9d79fa192019acc
.idea/sonarlint/issuestore/b/c/bcd27c46790ec001eadea11fe6cde4ab8faf6583
.idea/sonarlint/issuestore/c/3/c3f2ad0dd23ee7fd818c448cfeef4e08eff5c636
.idea/sonarlint/issuestore/c/a/ca21bb4c2acb81470d9f5a6783f187faa2dc39f5
.idea/sonarlint/issuestore/d/c/dcfb0598e26600bf5d8f7100f1b7cf141eb42d76
.idea/sonarlint/issuestore/e/b/eb550202f975b2aeec6cd21475565441261ca0b7
.idea/sonarlint/issuestore/e/f/ef1bf330b84f6ffce1fd840eb8066bed4a0e0055
.idea/sonarlint/issuestore/index.pb
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/sonarIssues.xml
.idea/sonarlint/issuestore/2/0/20c3f19a649da3b7564881266dce0d584f11354e
.idea/sonarlint/issuestore/6/8/68d1c656c013b5099dc43aa387132f7d0364ba90
.idea/sonarlint/issuestore/f/a/fadf4f7c356c230ea1c061d1cf62ecf144bf97c0
.idea/sonarlint/issuestore/index.pb
.idea/misc.xml
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/misc.xml
.idea/sonarIssues.xml
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/sonarIssues.xml
.idea/libraries/Gradle__androidx_activity_activity_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_activity_activity_ktx_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_1_1_3_aar.xml
.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_3_0_beta01_aar.xml
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/checksums/checksums.lock
.gradle/checksums/sha1-checksums.bin
.idea/caches/build_file_checksums.ser
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/d/e/defcb0c7b2653bb07ae108a7ac70df213016b75b
.idea/sonarlint/issuestore/c/b/cbe445ffa1dc9db283032e38856f121dfed232d7
.idea/sonarlint/issuestore/c/a/ca998f446ea0715b5bbe897e726b32de1704c2fd
.idea/sonarlint/issuestore/a/5/a5093f99d3f6224d8de2a0ac2e76258e7129880a
.idea/sonarlint/issuestore/8/3/8300d599cb3b63454c5ccb0494c62a95d95d1ab8
.idea/sonarlint/issuestore/7/8/78693a27082e85ffbc694030ba4d026fb6a03b86
.idea/sonarlint/issuestore/5/e/5e1026f7dacd776d6ec520be86b647449acbe3ea
.idea/sonarIssues.xml
.idea/modules/app/app.iml
.idea/libraries/Gradle__org_koin_koin_android_viewmodel_2_1_5_aar.xml
.idea/libraries/Gradle__org_koin_koin_android_scope_2_1_5_aar.xml
.idea/libraries/Gradle__org_koin_koin_android_2_1_5_aar.xml
.idea/libraries/Gradle__io_reactivex_rxjava2_rxandroid_2_1_0_aar.xml
.idea/libraries/Gradle__com_google_android_material_material_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_3_0_aar.xml
.idea/libraries/Gradle__androidx_test_runner_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_test_monitor_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_1_1_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_1_1_aar.xml
.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_ui_ktx_2_3_0_alpha06_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_ui_2_3_0_alpha06_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_runtime_ktx_2_3_0_alpha06_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_runtime_2_3_0_alpha06_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_fragment_ktx_2_3_0_alpha06_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_fragment_2_3_0_alpha06_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_common_ktx_2_3_0_alpha06_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_common_2_3_0_alpha06_aar.xml
.idea/libraries/Gradle__androidx_media_media_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_service_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_ktx_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_process_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_ktx_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_extensions_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_v4_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_ktx_1_2_4_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_2_4_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_1_0_beta01_aar.xml
.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_databinding_viewbinding_4_0_0_rc01_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_1_0_beta01_aar.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_ktx_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_3_0_beta01_aar.xml
.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_1_1_3_aar.xml
.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_activity_activity_ktx_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_activity_activity_1_1_0_aar.xml
.idea/caches/build_file_checksums.ser
.gradle/checksums/sha1-checksums.bin
.gradle/checksums/checksums.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
